[user]
    email = hunterkeca@gmail.com
    name = Hunter Keca
[alias]
    s = status
    co = checkout
[color]
    ui = auto
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[commit]
	template = ~/.dotfiles/.gitmessage
